<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<div th:fragment="header">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Quiz</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="|/user/quizes|">My Quizes</a></li>
						<li><a href="/createQuiz">Create Quiz</a></li>
					</ul>


					<div sec:authorize="!isAuthenticated()">
						<ul class="nav navbar-nav navbar-right">
				         	<li><a href="/user/login">Sign In</a></li>
							<li><a href="/user/registration">Sign Up</a></li>
				        </ul>
					</div>
                                    
                                        

					<div sec:authorize="isAuthenticated()">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
					          	<a href="#" sec:authentication="name" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-triangle-bottom"></span></a>
					          	<ul class="dropdown-menu">
					          		<li><a th:href="|/user/quizes|">My Quizes</a></li>
					          		<li role="separator" class="divider"></li>
					          		<li><a href="/logout">Logout</a></li>
					          	</ul>
				          	</li>
			          	</ul>
					</div>
					
				</div>
			</div>
                        
		</nav>
                <center><img class="image-responsive" src="/images/logo.png" style="width:150px;height:150px;" alt="logo"/></center>
	</div>

</body>
</html>