<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body>

	<div th:replace="fragments/header :: header">...</div>
	
	<div class="container">
	
		<div class="col-sm-4"></div>
		
		<div class="col-sm-4">
			
			<h2 th:text="#{label.signin.title}" class="form-signin-heading">Sign In</h2>
			
			<form name='f' action='/user/login' method='POST' class="form-signin">
		        <input th:placeholder="#{label.signin.email}" name="username" class="form-control" required="true" autofocus="autofocus"></input>
		        <input th:placeholder="#{label.signin.password}" type="password" name="password" class="form-control" required="true"></input>
		        
		        <p th:if="${loginError}" th:text="#{label.signin.errorrmessage}" class="error">Wrong user or password</p>
		        
		        <div class="checkbox">
		          <label>
		            <input th:text="#{label.signin.rememberme}" type="checkbox" name="remember-me"> Remember me </input>
		          </label>
		        </div>
		        
		        <button th:text="#{label.signin.submit}" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</form>
			
			<a href="/user/forgotPassword" tx:text="#{label.signin.forgotpassword}">Forgot my Password</a>
			
		</div>
		
		<div class="col-sm-4"></div>
	</div>

</body>
</html>