<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body ng-app="homeApp">

	<div th:replace="fragments/header :: header">...</div>

	<div class="container">

		<div ng-controller="HomeCtrl">
			
			<div>
				<h1 th:text="#{label.home.welcome}">Welcome to Quiz!</h1>
				<br/>
			</div>
				
<!--			<table class="table table-hover" align="center">
				<thead>
					<tr>
						<th th:text="#{label.home.maintable.headers.quiz}" width="70%">Quiz</th>
						<th th:text="#{label.home.maintable.headers.questions}">Questions</th>
						<th th:text="#{label.home.maintable.headers.times}">Times played</th>
						<th th:text="#{label.home.maintable.headers.play}">Play!</th>
					</tr>
				</thead>
				<tbody>				
					<tr ng-repeat="quiz in quizes">
						<td>
							<h4>{{quiz.name}}</h4>
							<h5><small class="text-muted">{{quiz.description}}</small></h5>
						</td>
						<td>
							<p>20</p>
						</td>
						<td>
							<p>5033</p>
						</td>
						<td>
							<a href="/quiz/{{quiz.id}}" class="btn btn-primary">
								<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>-->

                        <div>
                            <button class="btn btn-default" type="button"><a href="/createQuiz">Create Quiz</a></button>
			</div>
			
			<div class="text-center">
				<button th:text="#{label.home.maintable.loadmore}" class="btn btn-default" ng-click="loadNextPage()" ng-show="pagination.morePagesAvailable">Load more...</button>
			</div>
			
		</div>

	</div>
	
	<div th:replace="fragments/angular :: angular">...</div>
	<script type="text/javascript" src="../js/homeApp.js"
		        th:src="@{/js/homeApp.js}"></script>
		        
</body>
</html>